		*{
			margin: 0;
			font-family: sans-serif;
			outline: none;
		}
		html{
			-ms-touch-action: manipulation;
			touch-action: manipulation;
		}
		body{
			background-color: #1A1A1D;
			/*overflow-y: hidden;*/
			-webkit-appearance: none;
		}
		::-moz-selection { /* Code for Firefox */
			color: #116466;
			background: white;
		}

		::selection {
			color: #116466;
			background: white;
		}
		input[type="text"], input[type="email"], input[type="password"]{
			padding: 2.5vh;
			border-radius: 12px;
			font-size: 45px;
			margin-left: 5vw;
			margin-bottom: 1vh;
			-webkit-appearance: none;
			background-color: #116466;
			color: #DCDCDC;
			border: none;
			width: 90vw;
		}
		header{
			background-color: #116466;
			font-size: 40px;
			height: 10vh;
			width: 100vw;
		}
		.navbarItem{
			float: left;
			margin-right: 3vw;
			margin-top: 3.5vh;
			text-decoration: none;
			color: #DCDCDC;
			letter-spacing: 1px;
			display: none;
		}
		.show{
			float: right;
			display: block;
			font-size: 170px;
			margin-top: -35;
		}
		#phoneNavbar{
			display: none;
			height: 65vh;
			width: 100vw;
			text-align: center;
			padding-top: 10vh;
			overflow-y: hidden;
		}
		.phoneItem{
			font-size: 45px;
			margin-bottom: 10vh;
			list-style: none;
		}
		a{
			text-decoration: none;
			color: #DCDCDC;
		}
		.logoImage{
			height: 7vh;
		}
		.logo{
			float: left;
			margin-left: 3vw;
			margin-top: 1.8vh;
			margin-right: 3vw;
		}
		h1{
			margin-top: 3vh;
			margin-bottom: 1vh;
			margin-left: 5vw;
			font-size: 50px;
			color: #DCDCDC;
		}
		h3{
			margin-top: 3vh;
			margin-bottom: 1vh;
			margin-left: 5vw;
			color: #DCDCDC;
		}
		select{
			width: 90vw;
			padding: 2vh;
			border-radius: 12px;
			font-size: 45px;
			margin-left: 5vw;
			margin-bottom: 1vh;
			-webkit-appearance: none;
			background-color: #116466;
			color: #DCDCDC;
			border: none;
			cursor: pointer;
		}
		input[type="number"]{
			padding: 2vh;
			border-radius: 12px;
			font-size: 45px;
			margin-left: 5vw;
			margin-bottom: 2.5vh;
			-webkit-appearance: none;
			background-color: #116466;
			color: #DCDCDC;
			border: none;
			cursor: text;
		}
		button, input[type="submit"]{
			padding: 4vh;
			padding-top: 30px;
			padding-bottom: 30px;
			margin-left: 5%;
			font-size: 40px;
			-webkit-appearance: none;
			border-radius: 12px;
			background-color: #992600;
			color: #DCDCDC;
			text-align: left;
			border: none;
		}
		button:hover{
			transition-duration: 0.6s;
			background-color: brown;
			cursor: pointer;
		}
		.addActivity{
			padding-top: 5%;
			padding-bottom: 5%;
		}
		.displayActivities{
			padding: 30px;
			text-align: center;
			overflow: scroll;
			height: 30vh;
			padding-bottom: 10%;
			border-radius: 9px;
		}
		.landscapeWarning{
			display: none;
		}
		.day{
			display: inline-block;
		}
		.days{
			margin-top: 0.8cm;
			margin-left: 5vw;
			padding-bottom: 2.8vh;
		}
		input[type=checkbox]:checked ~ label{
			background-color: #992600;
		}
		input[type="checkbox"]{
			display: none;
		}
		.labelDay{
			color: black;
			padding-right: 2.68vh;
			padding-left: 2.68vh;
			padding-top: 2vh;
			padding-bottom: 2vh;
			font-size: 38px;
			margin-right: 8px;
			border-radius: 9px;
			background-color: #116466;
			color: #DCDCDC;
			cursor: pointer;
		}
		input::-webkit-input-placeholder {
			color: #DCDCDC;
		}
		p{
			color: #DCDCDC;
			margin-left: 5vw;
		}
		@media screen and (max-device-width:1200px) and (orientation:landscape){
			body{
				display: none;
			}
			.landscapeWarning{
				display: block;
				visibility: visible;
			}
		}
		@media screen and (min-device-width:1200px){
			header{
				font-size: 16px;
				height: 0.8in;
				width: 100%;
				min-width: 9in;
			}
			.navbarItem{
				margin-top: 0.3in;
				display: block;
			}
			.logoImage{
				height: 0.6in;
			}
			.logo{
				margin-top: 0.1in;
			}
			.show{
				display: none;
			}
			input[type="text"], input[type="email"], input[type="password"]{
				padding: 15px;
				font-size: 18px;
				margin-left: 1vw;
				border-radius: 4px;
				margin-bottom: 8px;
				width: 4in;
			}
			body{
				/*overflow: hidden;*/
			}
			h1{
				margin-top: 5vh;
				margin-left: 1vw;
				font-size: 40px;
				margin-bottom: 3mm;
			}
			h3{
				margin-top: -1vh;
				margin-left: 1vw;
				margin-bottom: 3mm;
			}
			p{
				margin-left: 1vw;
				margin-top: -1vh;
				margin-bottom: 1vh;
			}
			select{
				width: 382px;
				padding: 15px;
				font-size: 20px;
				margin-left: 1vw;
				border-radius: 5px;
				margin-bottom: 2mm;
			}
			input[type="number"]{
				width: 200px;
				padding: 15px;
				border-radius: 12px;
				font-size: 18px;
				margin-left: 1vw;
				border-radius: 5px;
				margin-bottom: 3mm;
			}
			button, input[type="submit"]{
				padding: 12px;
				padding-right: 30px;
				padding-left: 30px;
				margin-left: 1vw;
				font-size: 18px;
				border-radius: 5px;
			}
			.container{
				height: 90vh;
				display: flex;
				width: 100%;
				min-width: 7in;
			}
			.addActivity{
				flex: 0 0 5in;				
				float: left;
				height: 4in;
				padding: 0;
				margin: 0;
				margin-top: 22.5vh;
			}
			.displayActivities{
				flex: 0 0 5in;
				text-align: center;
				overflow-x: hidden;
				float: right;
				height: 86vh;
				overflow-y: scroll;
				padding: 0;
				margin-top: 2vh;
				margin-right: 0.7vw;
			}
			.days{
				margin-left: 1vw;
				margin-bottom: 0;
				margin-top: 10px;
			}
			.labelDay{
				color: black;
				padding: 12px;
				padding-right: 17.1px;
				padding-left: 17.1px;
				font-size: 20px;
				margin-right: 3px;
				border-radius: 9px;
				background-color: #116466;
				color: #DCDCDC;
				cursor: pointer;
			}
			::-webkit-scrollbar{
			    display: none;
			}
		}