{% csrf_token %}
{% load static %}
<head>
	<link rel="stylesheet" href="{% static '/base.css' %}">
	<link rel="shortcut icon" href="https://cdn.bleacherreport.net/images/team_logos/328x328/mens_tennis.png">
	<style>
		{% block css %}{% endblock %}
	</style>
	<title>{% block title %}{% endblock %}</title>
	<header>
		<a class="logo"><img class="logoImage" src="{% static '/logo.png' %}"></a>
		<div class="navbar">
			{% if user.is_authenticated %}
				<a class="navbarItem dis" href="/accounts/logout" style="float: right;">LOGOUT</a>
				<a class="navbarItem dis" style="float: right;">{{user.username}}</a>
			{% endif %}
			<a class="navbarItem" href="/fitness/plan">MAKE PLAN</a>
			<a class="navbarItem" href="/fitness/tasks">TASKS FOR TODAY</a>
		</div>
	</header>
</head>
<body>
	{% block body%}{% endblock %}
</body>
	<h1 class="landscapeWarning">Landscape View Currently Unavailable</h1>
</html>