{% extends "base.html" %}

{% block css %}
.score{
	background-color: #116466;
	width: 200px;
	height: 150px;
	border-radius: 3px;
	text-align: center;
	padding-top: 50px;
	font-size: 90px;
	position: absolute;
	top: 50%;
	transform: translate(0%, -50%);
}
.scoreInfo{
	font-size: 10px;
	letter-spacing: 0.3px;
	line-height: 12px;
	font-weight: normal;
	padding-right: 20px;
	position: absolute;
	bottom: 5px;
}
.graph{
	width: 98vw;
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%, -42%);
}
@media screen and (min-device-width:1200px){
	.graph{
		width: 70vw;
		position: absolute;
		top: 50%;
		right: 50%;
		transform: translate(50%, -42%);
		color: white;
	}
}
{% endblock %}
{% block title %}Log{% endblock %}

{% block body%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.4.0/chart.min.js"></script>
<!--<h1 class="score">99<p class="scoreInfo">Percent of completed exercises since the beginning</p></h1>-->

<div class="graph">
	<canvas id="myChart"></canvas>
</div>
<script>
	var myChart = document.getElementById("myChart").getContext("2d");
	var a = [];
	var b = [];
	for (var i=0; i<10; i++){
		a[i] = 80 + (i/10)*20;
		b[i] = '08/02/2021';
	}

	Chart.defaults.color = '#DCDCDC';

	var userChart = new Chart(myChart, {
		type: "bar",
		data: {
			labels: b,
			datasets: [{
				label: 'Completed',
				data: a,
				backgroundColor: '#116466',
			}]
		},
		options:{
			plugins:{
				legend:{
					display:false,
				},
				title:{
					display:true,
					text: 'Performance',
					font:{
						size: 25,
						weight: 'normal'
					}
				}
			}
		}
	});
</script>


{% endblock %}