{% extends "base.html" %}

{% block title %}Make a Plan{% endblock %}

{% block css %}
	.card{
		display: flex;
		width: 85vw;
		margin-top: 20px;
		margin-bottom: 20px;
		margin-right: auto;
		margin-left: auto;
		border-radius: 9px;
		padding-top: 40px;
		padding-bottom: 40px;
		padding-left: 50px;
		padding-right: 50px;
		height: 12vh;
		text-align: left;
		background-color: #116466;
		color: #DCDCDC;
	}
	h2{
		flex: 10;
		font-size: 50px;
		font-weight: normal;
		margin-top: 60px;
		width: 26vw;
	}
	p{
		font-size: 40px;
		width: 30vw;
	}
	.deleteButton:hover{
		background-color: black;
		transition-duration: 0.3s;
	}
	form{
		width: 100vw;
	}
	.deleteButton{
		flex: 1;
		margin-top: 60px;
		background-color: #1A1A1D;
		text-align: center;
		border-radius: 50%;
		height: 80px;
		width: 60px;
		font-size: 40px;
		padding-top: 0;
		padding-bottom: 0;
		padding-left: 5;
		padding-right: 5;
	}
	@media screen and (min-device-width:1200px){
		html{
			width: 100vw;
			min-width: 10in;
		}
		#exerciseName{
			width: 500px;
		}
		#unit{
			width: 200px;
		}
		.container{
			margin-left: auto;
			margin-right: auto;
			width: 98vw;
		}
		.card{
			width: 30vw;
			min-width: 4in;
			height: 12%;
			margin-top: 20px;
			margin-bottom: 20px;
			margin-left: 20px;
			border-radius: 10px;
			padding-top: 50px;
			padding-bottom: 0px;
			padding-left: 30px;
			padding-right: 10px;
			display: flex;
			background-color: #116466;
			color: #DCDCDC;
		}
		.card:hover{
			-webkit-box-shadow: 0 0 3px white;
			box-shadow: 0 0 3px white;
			transition-duration: 0s;
		}
		h2{
			font-size: 25px;
			font-weight: normal;
			margin-top: 0vh;
			color: white;
			font-weight: bold;	
			flex: 16;			
		}
		p{
			font-size: 17px;
		}
		form{
			width: 100vw;
		}
		.deleteButton{
			background-color: #1A1A1D;
			text-align: center;
			border-radius: 50%;
			font-size: 20px;
			height: 30px;
			width: 30px;
			padding-top: 0;
			padding-bottom: 0;
			padding-left: 2;
			padding-right: 2;
			margin-top: 0px;
		}
		input[type="submit"]{
			margin-top: 0px;
		}
		.noExercises{
			position: relative;
			top: 50%;
			transform: translate(0%, -55%);
		}
	}
{% endblock %}

{% block body%}

<div class="main">
<div class="container"> 
	<form method="POST" action="plan">
		<div class="addActivity"> 
			{% csrf_token %}
			<h1>Make a Plan</h1>
			<!--<select id="selectActivity" placeholder="Choose Activity" name="exercise_name">
				<option disabled selected>Click to Choose Activity</option>
				{% for exercise in exercise_list %}
				<option>{{exercise}}</option>
				{% endfor %}
			</select>
			<br>-->
			<input type="text" placeholder="Exercise Name" name="exercise_name">
			<br>
			<input type="text" id="time" placeholder="Time" name="time" >
			<br>
			<div class="days">
				<div class="day">
					<input type="checkbox" id="day1" name="mon" value=1>
					<label for="day1" class="labelDay">M</label>
				</div>
				<div class="day">
					<input type="checkbox" id="day2" name="tue" value=1>
					<label for="day2" class="labelDay">T</label>
				</div>
				<div class="day">
					<input type="checkbox" id="day3" name="wed" value=1>
					<label for="day3" class="labelDay">W</label>
				</div>
				<div class="day">
					<input type="checkbox" id="day4" name="thu" value=1>
					<label for="day4" class="labelDay">T</label>
				</div>
				<div class="day">
					<input type="checkbox" id="day5" name="fri" value=1>
					<label for="day5" class="labelDay">F</label>
				</div>
				<div class="day">
					<input type="checkbox" id="day6" name="sat" value=1>
					<label for="day6" class="labelDay">S</label>
				</div>
				<div class="day">
					<input type="checkbox" id="day7" name="sun" value=1>
					<label for="day7" class="labelDay">S</label>
				</div>
			</div>
			<input type="submit" value="Add" name="submit">
		</div>

		<div class="displayActivities" id="activityList" action="plan" request="POST">
			{% csrf_token %}
			{% for exercise in plan_list %}
				<div class='card'><h2>{{exercise}}</h2><button class="deleteButton" value="{{exercise.id}}" name="submit">-</button></div>
			{% endfor %}
			{% if length == 0 %}
				<h2 class="noExercises card">Your exercises will appear here</h2>
			{% endif %}
		</div>
	</form>
</div>
</div>
{% endblock %}