{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block css %}

.box{
		width: 100vw;
		margin-top: 1in;
		border-radius: 12px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		padding-top: 5vh;
	}
	.sign{
		margin-left: 50vw;
		color: #DCDCDC;
		text-decoration: none;
		font-size: 40px;
	}
	.invalid{
		color: #DCDCDC;
		margin-top: 1cm;
		font-size: 40px;
		margin-left: 5vw;
	}
	@media screen and (min-device-width:1200px){
		.outerContainer{
			position: relative;
			height: 89.6vh;
			min-height: 6in;
		}
		.box{
			border: solid 2px;
			border-color: #DCDCDC;
			height: 4.7in;
			width: 5in;
			padding: 0;
			margin-top: 1in;
			position:absolute;
			top: 0; bottom: 0; left: 0; right: 0;
			margin: auto;
		}
		.sign{
			margin-left: 2.2in;
			font-size: 17px;
		}
		.invalid{
			color: #DCDCDC;
			margin-top: 0.3cm;
			margin-left: 0.5in;
			font-size: 17px
		}
		h1, input[type="submit"], input[type="text"], input[type="password"], input[type="email"]{
			margin-left: 0.5in;
		}
		h1{
			margin-top: 0.5in;
		}
	}

{% endblock %}

{% block body%}
<div class="outerContainer">
	<div class="box">
		<h1>Sign Up</h1>
		<form action="register" method="POST">
			{% csrf_token %}
			<input type="text" name="first_name" placeholder="First Name">
			<br>
			<input type="text" name="username" placeholder="Username">
			<br>
			<input type="email" name="email" placeholder="Email">
			<br>
			<input type="password" name="password" placeholder="Password">
			<br>
			<input type="submit">
			<a class="sign" href="/accounts/login">Log In</a>
		</form>

		{% for message in messages %}
			<p class="invalid">{{message}}</p>
		{% endfor %}

	</div>
</div>

{% endblock %}