{% extends "base.html" %}
{% load static %}

{% block title %}Todays Tasks{% endblock %}

{% block css %}
	.container1{
		margin-top: 3vh;
		border-radius: 3px;
		overflow: scroll;
		width: 90vw;
		margin-left: auto;
		margin-right: auto;
		height: 82%;
		width: 95vw;
		margin-right: auto;
		margin-left: auto;
	}
	.container2{
		border-radius: 9px;
		width: 90vw;
		margin-left: auto;
		margin-right: auto;
		height: 50vh;
		text-align: center;
		margin-bottom: 5vh;
	}
	h1{
		text-align: center;
		margin-bottom: 40px;
	}
	.outer{
		padding-right: 40px;
		padding-left: 40px;
		margin-top: 20px;
		margin-bottom: 20px;
		width: 90%;
		margin-right: auto;
		margin-left: auto;
		border-radius: 15px;
		color: white;
		display: flex;
		padding: 0;
	}
	.outer:hover{
		-webkit-box-shadow: 0 0 5px #00B4AD;
		box-shadow: 0 0 15px #00B4AD;
		transition-duration: 0s;
	}
	.inner1{
		background-color: #992600;
		flex: 2.5;
		padding-top: 80px;
		padding-bottom: 40px;
		padding-right: 10px;
		padding-left: 30px;
		text-align: left;
		border-top-left-radius: 15px;
		border-bottom-left-radius: 15px;
		font-size: 45px;
	}
	.inner2{
		background-color: #292E2E;
		flex: 5;
		text-align: left;
		padding: 60px;
		padding-top: 80px;
		border-top-right-radius: 15px;
		border-bottom-right-radius: 15px;
		font-size: 45px;
	}
	.tick{
		float: right;
		background-color: #116466;
		height: 80px;
		width: 80px;
		border-radius: 50%;
		text-align: center;
		font-size: 40px;
		padding: 0;
	}
	.tick:hover{
		background-color: #1A1A1D;
		transition-duration: 0.3s;
	}
	.healthImg{
		width: 70vw;
		height: 70vw;
		border-radius: 9px; 
		margin-left: 4vw;
	}
	h3{
		font-size: 30px;
		margin-top: -2vh;
	}
	@media screen and (min-device-width:1200px){
		.outerContainer{
			display: flex;
			height: 88.5vh;
			width: 100vw;
		}
		.container1{
			height: 83.5vh;
			width: 100vw;
			margin-top: 1.5%;
			margin-left: 2%;
			overflow-y: scroll;
			margin-right: 2vw;
			margin-right: auto;
			margin-left: auto;
		}
		.container2{
			margin-right: 2vw;
			height: 83.5vh;
			margin-top: 1.2%;
			text-align: center;
			flex: 1;
		}
		.taskCompletedCheck{
			margin-left: 10%;
		}
		.taskCompletedLabel{

		}	
		h1{
			text-align: center;
			margin-bottom: 20px;
		}
		.outer{
			width: 40%;
			margin-right: auto;
			margin-left: auto;
			border-radius: 9px;
			color: white;
			display: flex;
			padding: 0;
		}
		.outer:hover{
			-webkit-box-shadow: 0 0 3px white;
			box-shadow: 0 0 3px white;
			transition-duration: 0s;
		}
		.inner1{
			background-color: #992600;
			flex: 2;
			padding-top: 44px;
			padding-bottom: 30px;
			padding-right: 5px;
			padding-left: 20px;
			text-align: left;
			border-top-left-radius: 9px;
			border-bottom-left-radius: 9px;
			font-size: 20px;
		}
		.inner2{
			background-color: #292E2E;
			flex: 5;
			text-align: left;
			padding-top: 44px;
			padding-bottom: 30px;
			padding-right: 10px;
			padding-left: 30px;
			border-top-right-radius: 9px;
			border-bottom-right-radius: 9px;
			font-size: 20px;
		}
		.tick{
			float: right;
			background-color: #116466;
			height: 30px;
			width: 30px;
			padding: 0;
			border-radius: 50%;
			text-align: center;
			font-size: 17px;
		}
		.displayActivities{
			background-color: white;
		}
		h3{
			margin-top: 10vh;
			font-size: 20px;
		}
		.healthImg{
			border-radius: 9px; 
			margin-left: 0.8vw;
			width: 20vw;
			height: 20vw;
		}
		.healthImg:hover{
			-webkit-box-shadow: 0 0 3px white;
			box-shadow: 0 0 3px white;
			transition-duration: 0s;
			height: 20.2vw;
			width: 20.2vw;
		}
	}
{% endblock %}

{% block body %}
<div class="outerContainer">
	<div class="container1">
		<h1>{{day}}</h1>
		<form method="POST" action="tasks">
			{% csrf_token %}
			{% for item in exercise_list %}
				<div class="outer">
					<div class="inner1">
						{{item.exercise_name}}
					</div>
					<div class="inner2">
						x {{item.exercise_time}}
						<button class="tick" name="doneExercise" value="{{item.id}}">&#10003;</button>
					</div>
				</div>
			{% endfor %}
		</form>
	</div>
</div>

{% endblock %}


<button class="doneButton">&#10003;</button>
